.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  100% {
    opacity: 1;
  }
}

.name-container {
  position: absolute;
  left: 156px;
  top: 70px;
  font-size: medium;
  font-size: xx-large;
  opacity: 0;
  animation: fade 2s;
  border-radius: 10px;
  border: 2px solid red;
}

.decorative-circle {
  display: block;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 79px;
  left: 164px;
}
.card-styling {
  position: fixed;
  left: 543px;
  font-size: xxx-large;
  background-color: lightblue;
  border: 8px solid blue;
}
